/* Import font*/
/*=======================================*/
@font-face {
	font-family: "Clacon";
	src: url('../fonts/clacon.ttf');
}

/* All Elements*/
/*=======================================*/
* {
	background-color: #151515;
	color: #00BB20;
	font-family: "Clacon", Helvetica, Arial, sans-serif;
	font-size: 26px;
}

/* ASCII banner*/
/*=======================================*/
#banner {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

/* Header */
/*=======================================*/
header {
	text-align: center;
	border-style: dashed;
	border-width: medium;
	border-color: #00bb00;
}

h2 {
	margin-bottom: 0px;
}

nav {
	margin-top: 3px;
	margin-bottom: 10px;
}

a {
	text-decoration:none;
	color: #00ff42;
}

a:hover {
	color: #00ffaa;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

/* Main content */
/*=======================================*/
h3 {
	margin-left: 1%;
	padding-top: 1%;
	border-top-style: dashed;
	border-top-width: thin;
	border-top-color:#0b0;
}

#bShort {
	border: none;
}

table {
	margin-left: 2%;
}

.top {
	font-size: 18px;
	text-decoration: none;
	text-align: right;
	margin-left: 1%;
}
