@font-face {
	font-family: "Clacon";
	src: url('../fonts/clacon.ttf');
}

* {
	background-color: #151515;
	color: #00BB00;
	font-family: "Clacon", Helvetica, Arial, sans-serif;
	font-size: 26px;
}

header {
	text-align: center;
	border-style: dashed;
	border-width: medium;
	border-color: #00bb00;
}

ul li {
	display: inline;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	margin-left: 1%;
	padding-top: 1%;
	border-top-style: dashed;
	border-top-width: thin;
	border-top-color:#0b0;
}

#bShort {
	border: none;
}

table {
	margin-left: 2%;
}
